:root {
--logo-height:8em;
--logo-width:auto;
--logo-margin:10px;
--logo-max-wdith:250px;
--logo-max-height:250px;


--h1-text-color:#0000dd;
--h2-text-color:#00ff00;

}

.ftdpnl {
  background-color: lightpink;
  max-width:fit-content;
}

/* 
.gTRpEB {
  background-color:lightgray;
}

.bXbsCF {
  background-color:lightblue;
  margin-bottom: auto; 

}

.dmBMvF {
    height: 100vh;
} */


:root.dark {
    --h1-text-color:#ff0000;
    --feedback-hat-color: hsl(304, 89%, 59%);
}

:root div[data-component-name="Admonition/Admonition"][type="danger"] {
    font-weight:bold;
    border:2px solid #00ff00;
}

.yellow {
  background-color: yellow;
  color: #fff;
}